footer {
  padding: 4rem 2rem;
  background-color: hsl(216, 53%, 9%);
  margin-top: 3rem;
}

.foot-logo {
  width: 7rem;
}

.about {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: white;
  font-size: 0.85rem;
  margin-top: 2rem;
}

.location-info p {
  max-width: 250px;
}

.location {
  display: flex;
  gap: 1rem;
}

.number-info li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.6rem;
}

.about-links li {
  margin-top: 0.5rem;
}

.social-icon img {
  width: 2rem;
  margin-right: 1rem;
  border: 1px solid white;
  border-radius: 100px;
  padding: 0.3rem;
  opacity: 0.7;
  cursor: pointer;
}

@media (max-width: 821px) {
  .about {
    flex-direction: column;
    gap: 2rem;
  }

  .location-info p {
    max-width: 350px;
  }

  .social-icon {
    text-align: center;
  }
}
